body {
  margin: 0;
}

.navbar-input {
  width: 80%;
  height: 30px;
  border: 1px solid var(--clr-black-outline);
  padding: 0 1rem;
  position: relative;
  border-radius: var(--border-radius-sm);
}

.navbar-input:focus {
  outline-color: var(--clr-primary-mid);
}

.main-content {
  width: 100%;
  padding: 2rem;
  background-color: var(--clr-primary-hover);
}

.main-content > * + * {
  margin-top: 2rem;
}

.banner {
  position: relative;
}

.banner .banner-img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: var(--border-radius-lg);
}

.banner-text {
  position: absolute;
  top: 50px;
  left: 50px;
  color: var(--clr-white-full);
}

.quiz-container {
  flex-wrap: wrap;
  gap: 2rem;
}

.newsletter {
  margin: 5rem auto;
  flex-direction: column;
}

.newsletter-email-input {
  height: 30px;
  width: 50vw;
  border-radius: var(--border-radius-sm);
  border: 1px solid var(--clr-black-mid);
}

.newsletter-form {
  gap: 2rem;
}

.footer {
  padding: 1rem;
  color: var(--clr-black-full);
  border-top: 1px solid var(--clr-black-disabled);
  background-color: var(--clr-primary-hover);
}

.bg-white-full {
  background-color: var(--clr-white-full);
}

@media screen and (max-width: 600px) {
  :root {
    font-size: 66.25%;
  }

  .banner .banner-img {
    height: 250px;
  }
  .banner-text {
    top: 20px;
    left: 10px;
  }
}
